@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Raleway:wght@100;500&display=swap');

:root{
    --primary-color: #1C385A;
    --secondary-color: #B4B4E4 ;
    --accent1-color: #639EE7;
    --accent2-color: #67A1E6 ;

    --heading-font: 'Montserrat', sans-serif ; 
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color:#B4B4E4;
    --nav-link-color:#639EE7;;
    --nav-hover-link-color:#1C385A;
    --nav-hover-background-color:#67A1E6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Grid{
    width: 100%;
    height: auto;
    margin: 1rem ;
    padding: 20px ;
    border: 8px solid ;
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-link-color);
    display: flex;
    flex-direction: row ;
    justify-content: space-around ;
    flex-flow: wrap ;
}

.box{
    background:var(--nav-background-color);
    font-weight: bold;
    width: 120px ;
    height: 120em;
    line-height: 120px;
    margin: 2px;

    
}
h1{
    font-family: var(--heading-font);
    position: absolute;
	top: 305px;
	right: 405px;
	background: radial-gradient(#eee, #4567aa);
	border: 0px ;
	padding: 0.65rem;
	box-shadow: 0 0 20px #111;
	opacity: 0.7;

}
article{
    font-family: var(--heading-font);
    position: absolute;
    left: 100px;
	top: 455px;
	right: 105px;
	background: radial-gradient(#eee, #4567aa);
	border: 0px ;
	padding: 0.65rem;
	box-shadow: 0 0 20px #111;
	opacity: 0.7;
}

article img {
    float: right;
    width: 19%;
	height: 100%;
}


.hero img{
    margin: 1%;
    display:block ;
    width:100%;
    height: auto;
}
section .cajas{
    display:flex;
    padding: 5px;
    background-color: #639EE7;
    flex-flow:row;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}



figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

nav a  {
    position:relative;
    color:white;
    padding: 10px;
    font-family: var(--heading-font); 

}


section img{
    width: 100%;
	height: 250;
    text-align: center;
    display: block;
}
h2{
    font-family: var(--heading-font);
    position:absolute;
	top: 905px;
	right: 665px;
	border: 0px ;
	padding: 1.65rem;	
}

.flex-container{
    display: flex;
    justify-content: space-between;
    background-color: #1C385A;
    
}
section  p  h2{
    justify-content: space-between;
    display: grid;
    flex-direction: row ;

}



footer img{
    margin: 1%;
    width: 3%;
    height: auto;

}