@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Libre+Franklin:wght@300&display=swap');


:root{
    --primary-color: #1C385A;
    --secondary-color: #B4B4E4 ;
    --accent1-color: #639EE7;
    --accent2-color: #67A1E6 ;

    --heading-font: 'Arimo', sans-serif;
    --paragraph-font:'Libre Franklin', sans-serif;

    --nav-background-color:#B4B4E4;
    --nav-link-color:#639EE7;;
    --nav-hover-link-color:#1C385A;
    --nav-hover-background-color:#67A1E6;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 , h2 ,h3 , h4 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding:25px;
}
nav{
    background-color: var(--nav-background-color);
    font: 1.2rem;
    display: flex;
}
nav a {
    text-decoration: none;
    padding: 1rem;
    display:block;
    color:var(--nav-link-color)
}

nav a:link, nav a:visited {
    color:var(--nav-hover-link-color)
}

nav a:hover {
    background-color:var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}