body {
    background-color:pink;
    flex-direction:column;
}

form fieldset{
    background: rgb(189, 97, 112);
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

label, input ,textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 1px;
  }

.box{
    background: rgb(205, 50, 171);
    padding: 2px;
    font-size: 80%;
    width: 200px;
} 

