*{
    margin:5px;
    padding: 10px;
    box-sizing: border-box;
}
/*Class Selectors*/

.box{
   margin: 1rem ;
   padding: 1rem ;
   border: 1px solid rgba(0, 0, 0, 0.2);
   background-color: rgba(255, 192, 203, 0.377);
    color: #000;
}

nav {
    background-color: rgba(70, 81, 180, 0.582);
    padding: 10px;
}

nav a {
    color:white;
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
}

main {
    max-width: 840px;
}

main img {
    /*Coloque una declaracion en la imagen */
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 5px;
    box-shadow: 0 0 30px gray;
}


p {
    padding: 25px;
}

aside h2  {
    position: absolute;
    top: 350px ;
    left: 535px;
    width: 20em;
    text-align: center;
}
aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img  {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}